.container{
    /* display: flex; */
    text-align: center;
    flex-direction: column;

    span{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    img{
        width: 20px;
    }

}
.certificates{
    justify-content: center;
    align-self: center;

}